*{
    margin:0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
    &::-webkit-scrollbar
    {
        display: none;  
    }
    
}

a{
    color: white;
    text-decoration: none;
}

.header{
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    justify-content: space-between;

    > img{
        height:  70%;
    }
    >div{
        width: 100%;
        margin-left: 4vmax;
        
        > a{
            margin: 1.2vmax;
            font-size: 1.1rem;
            font-weight: 200;
        }
    }
    
    >svg {
        color: white;
        font-size: 2rem;
        cursor: pointer;

        &:hover{
            color: wheat;
        }
        
        

    }
}

